{% load static %}

<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="{% static 'application/css/bootstrap.min.css' %}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/animate.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'application/fonts/flaticon.css' %}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="{% static 'application/css/boxicons.min.css' %}">
        <!-- Owl Carousel Min CSS --> 
        <link rel="stylesheet" href="{% static 'application/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'application/css/owl.theme.default.min.css' %}">
        <!-- Nice Select Min CSS --> 
        <link rel="stylesheet" href="{% static 'application/css/nice-select.min.css' %}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'application/css/meanmenu.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'application/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'application/css/responsive.css' %}">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="{% static 'application/css/theme-dark.css' %}">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'application/images/favicon.png' %}">

        <title>Hilo - Organic Food Shop HTML Template</title>
    </head>
    <body>
        <!-- Pre Loader -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <img src="{% static 'application/images/preloder-img.png' %}" alt="Images">
                    <h2>Hilo</h2>
                </div>
            </div>
        </div>
        <!-- End Pre Loader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="/" class="logo">
                    <img src="{% static 'application/images/logos/logo-1.png' %}" alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav nav-two">
                <div class="container">
                    <nav class=" navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="{% static 'application/images/logos/logo-1.png' %}" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">
                                        Главная
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Товары
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{% url 'parent-category' 'CF' %}" class="nav-link">
                                                Кофе
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'BR' %}" class="nav-link">
                                                        Бразилия
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'KN' %}" class="nav-link">
                                                        Кения
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'VT' %}" class="nav-link">
                                                        Вьетнам
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'parent-category' 'TE' %}" class="nav-link">
                                                Чай
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'GR' %}" class="nav-link">
                                                        Зелёный
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'BL' %}" class="nav-link">
                                                        Чёрный
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'FR' %}" class="nav-link">
                                                        Фруктовый
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'parent-category' 'SP' %}" class="nav-link">
                                                Сиропы
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'parent-category' 'FS' %}" class="nav-link">
                                                        Фруктовые
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'parent-category' 'AL' %}" class="nav-link">
                                                        Алкогольные
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a href="{% url 'blog' %}" class="nav-link">
                                        Blog
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'about' %}" class="nav-link">
                                        О нас
                                    </a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link">
                                        {{request.user}}
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{% url 'login' %}" class="nav-link">
                                                Войти
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'orders' %}" class="nav-link">
                                                Заказы
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'passwordchange' %}" class="nav-link">
                                                Сменить пароль
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'logout' %}" class="nav-link">
                                                Выйти
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link">
                                        Войти
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'customerregistration' %}" class="nav-link">
                                        Зарегистрироваться
                                    </a>
                                </li>
                                {% endif %}
                            </ul>

                            <div class="col-lg-7 col-md-6">
                                <div class="nav-bottom-form-area">
                                    <form class="nav-bottom-form" role="search" action="/search">
                                        <input  class="form-control" type="search" placeholder="Искать" name = "search">
                                        <button class="subscribe-btn" type="submit">
                                            Search
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-1 col-md-2">
                                <div class="nav-bottom-side">
                                    <ul class="nav-bottom-list">
                                        <li><a href="{% url 'showwishlist' %}"><i class='bx bx-heart' style="color: #e3f2fd;"></i></a></li>
                                        <li class="cart-span">
                                            <a href="{% url 'cart:showcart' %}"><i class='bx bx-cart' style="color: #e3f2fd;"></i></a>
                                            <span>{% if totalitem > 0 %} {{totalitem}} {% endif %}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>
                    
                    <div class="container-2">
                        <div class="side-nav-inner">
                            <div class="side-nav justify-content-center align-items-center">
                                <div class="side-nav-item">

                                    <div class="nav-bar-btn">
                                        <a href="{% url 'profile' %}" class="account-btn">My account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->


        <!-- Banner Slider Area -->
        <div class="banner-slider-area">
            <div class="banner-slider owl-carousel owl-theme">
            {% for object in obj %}
                <div class="container-fluid">
                    <div class="banner-slider-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7">
                                <div class="banner-slider-img">
                                    <img src="{{object.image.url}}" alt="Banner Images">
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="banner-slider-content">
                                    <span>Чай & Кофе©</span>
                                    <h2>{{object.title}}</h2>
                                    <p>{{object.sub_title}}</p>
                                    <a href="#" class="default-btn btn-bg-two border-radius-50">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <!-- Banner Slider Area End -->

<!--        &lt;!&ndash; Popular Product Area &ndash;&gt;-->
<!--        <section class="popular-product-area pt-100 pb-70">-->
<!--            <div class="container">-->
<!--&lt;!&ndash;                <div class="section-title text-center">&ndash;&gt;-->
<!--&lt;!&ndash;                    <h2>Most Popular Products</h2>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;                <ul class="filter-menu text-center"> &ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="filter active" data-filter="all">All</li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="filter" data-filter=".new">New</li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="filter" data-filter=".sale">On Sale</li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="filter" data-filter=".top-rising">Top Rising</li>&ndash;&gt;-->
<!--&lt;!&ndash;                    <li class="filter" data-filter=".shipping">Free Shipping</li>&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->

<!--                <div id="Container" class="row pt-45">-->
<!--                    <div class="col-lg-3 col-sm-6 mix sale">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product1.png' %}" alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="popular-product-tag tag-bg2">-->
<!--                                <h3>12%</h3>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Almond Nuts</a></h3>-->
<!--                                <span>$15.0/Kg <del>$17.0/Kg</del></span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix new top-rising">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product2.png' %}" alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="popular-product-tag tag-bg1">-->
<!--                                <h3>New</h3>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Rear Organic Saffron</a></h3>-->
<!--                                <span>$400.0/Kg</span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix sale shipping">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product3.png' %}" alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="popular-product-tag tag-bg2">-->
<!--                                <h3>21%</h3>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Black Fresh Berry</a></h3>-->
<!--                                <span>$5.0/Kg <del>$7.0/Kg</del></span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix new top-rising">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product4.png' %}" alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="popular-product-tag tag-bg1">-->
<!--                                <h3>33%</h3>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Fresh Capsicum</a></h3>-->
<!--                                <span>$5.0/Kg <del>$7.0/Kg</del></span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix sale shipping">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product5.png' %}{% static 'application/alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Fresh Pineapple</a></h3>-->
<!--                                <span>$3.5/Kg <del>$4.0/Kg</del></span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix new top-rising">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product6.png' %}{% static 'application/alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="popular-product-tag tag-bg2">-->
<!--                                <h3>12%</h3>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Olive Oil</a></h3>-->
<!--                                <span>$6.0/Kg <del>$7.5/Kg</del></span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix sale shipping">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product7.png' %}{% static 'application/alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Rear Organic Butter</a></h3>-->
<!--                                <span>$2.0/Kg </span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="col-lg-3 col-sm-6 mix new top-rising shipping">-->
<!--                        <div class="popular-product-item">-->
<!--                            <a href="product_detail.html">-->
<!--                                <img src="{% static 'application/images/popular-product/popular-product8.png' %}{% static 'application/alt="Product Images">-->
<!--                            </a>-->
<!--                            <div class="popular-product-tag tag-bg1">-->
<!--                                <h3>New</h3>-->
<!--                            </div>-->
<!--                            <div class="content">-->
<!--                                <h3><a href="product_detail.html">Fresh Carrots</a></h3>-->
<!--                                <span>$6.0/Kg <del>$7.5/Kg</del></span>-->
<!--                                <ul class="popular-product-action">-->
<!--                                    <li><a href="wishlist.html"><i class='bx bx-heart'></i></a></li>-->
<!--                                    <li><a href="addtocart.html"><i class='bx bx-cart'></i></a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
<!--        &lt;!&ndash; Popular Product Area End &ndash;&gt;-->


        <!-- Choose Area -->
        <div class="choose-area-two pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Why You Choose Us</h2>
                </div>
                <div class="row pt-45">
                    <div class="col-lg-4 col-sm-6">
                        <div class="choose-card-two">
                            <i class="flaticon-24-hours"></i>
                            <h3>24/7 Онлайн поддержка</h3>
                            <p>Техническая поддержка, которая поможет решить все вопросы с заказами в режиме онлайн</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6">
                        <div class="choose-card-two">
                            <i class="flaticon-leaf"></i>
                            <h3>100% Свежая Продукция</h3>
                            <p>Мы привозим Вам только свежеобжаренный кофе и свежесобранные чайные листья, а также
                            сиропы к ним. Именно поэтому нам доверяют более 500 кофеен и кафе, а также тысячи клиентов
                            по всей России и за её пределами!</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                        <div class="choose-card-two">
                            <i class="flaticon-service"></i>
                            <h3>Быстрая доставка</h3>
                            <p>Быстрые сроки доставки любого товара в Ваш город. Пункты выдачи заказов в 150+ городах.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Choose Area End -->

        <!-- Latest Product Area -->
        <div class="latest-product-area ptb-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <h2>Our Products</h2>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-lg-4 col-sm-6">
                                <div class="latest-product-item">
                                    <a href="{% url 'parent-category' 'TE' %}">
                                        <img src="{% static 'application/images/products/ИМБИРЬ.jpg' %}" alt="Product Images">
                                    </a>
                                    <div class="content">
                                        <h3><a href="{% url 'parent-category' 'TE' %}">Чай</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="latest-product-item">
                                    <a href="{% url 'parent-category' 'CF' %}">
                                        <img src="{% static 'application/images/products/photo_6.jpg' %}" alt="Product Images">
                                    </a>
                                    <div class="content">
                                        <h3><a href="{% url 'parent-category' 'SP' %}">Кофе</a></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-6">
                                <div class="latest-product-item">
                                    <a href="{% url 'parent-category' 'SP' %}">
                                        <img src="{% static 'application/images/products/products-img2.png' %}" alt="Product Images">
                                    </a>
                                    <div class="content">
                                        <h3><a href="{% url 'parent-category' 'SP' %}">Сиропы</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Latest Product Area End -->



        <!-- Testimonials Area Two -->
        <div class="testimonials-area-two ptb-100">
            <div class="container">
                <div class="section-title text-center">
                    <h2>What Our Clients Says</h2>
                </div>
                <div class="testimonials-slider-two owl-carousel owl-theme">
                    <div class="testimonials-item-two">
                        <i class='bx bxs-quote-alt-left'></i>
                        <p>
                            "We are one of the best  and huge problem on the product taking from online. Most of the time we 
                            get the eCommerce  and ordered product on this and on that time we saw that it gives the best 
                            service for all the time." 
                        </p>
                        <ul>
                            <li>
                                <img src="{% static 'application/images/testimonials/testimonials-img1.jpg' %}" alt="Images">
                                <h3>Elen Musk</h3>
                                <span>CEO, MT Corporation</span>
                            </li>
                        </ul>
                    </div>

                    <div class="testimonials-item-two">
                        <i class='bx bxs-quote-alt-left'></i>
                        
                        <p>
                            "We are one of the best  and huge problem on the product taking from online. Most of the time we 
                            get the eCommerce  and ordered product on this and on that time we saw that it gives the best 
                            service for all the time." 
                        </p>
                        <ul>
                            <li>
                                <img src="{% static 'application/images/testimonials/testimonials-img2.jpg' %}" alt="Images">
                                <h3>Tom Shumate</h3>
                                <span>Founder, MT Corporation</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials Area Two End -->


        <!-- Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-top pt-100 pb-70">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget-color">
                                <div class="footer-logo">
                                    <a href="/">
                                        <img src="{% static 'application/images/logos/footer-logo.png' %}" class="footer-logo1" alt="Images">
                                        <img src="{% static 'application/images/logos/logo-1.png' %}" class="footer-logo2" alt="Images">
                                    </a>
                                </div>
                                <p>
                                    We are one of the best & quality full in market. Let's join.
                                </p>
                                <ul class="footer-list-contact">
                                    <li>
                                        <i class='bx bx-home'></i>
                                        <a href="https://yandex.ru/search/?text=Хабаровск">г. Хабаровск</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-phone-call' ></i>
                                        <a href="tel:+7(914)-150-0762">+7(914)-150-0762</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-envelope'></i>
                                        <a href="mailto:alexeyoskilko@gmail.com">alexeyoskilko@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget-color">
                                <h3>Services</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="{% url 'profile' %}" target="_blank">
                                            Мой Профиль
                                        </a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'orders' %}" target="_blank">
                                            Заказы
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{%url 'showwishlist' %}" target="_blank">
                                            Избранное
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget-color">
                                <h3>Information</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="/" target="_blank">
                                            Главная
                                        </a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'about' %}" target="_blank">
                                            О нас
                                        </a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'blog' %}" target="_blank">
                                            Блог
                                        </a>
                                    </li> 
                                    <li>
                                        <a href="{% url 'cart:showcart' %}" target="_blank">
                                            Корзина
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copy-right-area-two">
                    <div class="copy-right-text">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Алексей Оскилко
                            <a href="https://www.fogstream.ru" target="_blank">Fogstream</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->


       <!-- Jquery Min JS -->
        <script src="{% static 'application/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static 'application/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'application/js/owl.carousel.min.js' %}"></script>
        <!-- Nice Select Min JS -->
        <script src="{% static 'application/js/jquery.nice-select.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'application/js/wow.min.js' %}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'application/js/meanmenu.js' %}"></script>
        <!-- Jquery Ui Min JS -->
        <script src="{% static 'application/js/jquery-ui.min.js' %}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'application/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'application/js/form-validator.min.js' %}"></script>
        <!-- Contact Form JS -->
        <script src="{% static 'application/js/contact-form-script.js' %}"></script>
        <!-- Mixitup Min JS -->
        <script src="{% static 'application/js/mixitup.min.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'application/js/custom.js' %}"></script>

    </body>
</html>