{% load static %}
<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'application/css/bootstrap.min.css' %}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/animate.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'application/fonts/flaticon.css' %}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="{% static 'application/css/boxicons.min.css' %}">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'application/css/owl.theme.default.min.css' %}">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/nice-select.min.css' %}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'application/css/meanmenu.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'application/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'application/css/responsive.css' %}">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="{% static 'application/css/theme-dark.css' %}">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'application/images/favicon.png' %}">

        <title>Hilo - Organic Food Shop HTML Template</title>
    </head>
    <body>
    <div class="container my-5">
        <div class="row">
        <h3>Здравствуйте, {{request.user.username|capfirst}}</h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid">
                    <a href="{% url 'profile' %}" class="btn btn-primary">Пароль изменён</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 offset-sm-1 text-center">
                <h3>Пароль Успешно изменён!</h3>
                <div>
                    <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Min JS -->
        <script src="{% static 'application/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static 'application/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'application/js/owl.carousel.min.js' %}"></script>
        <!-- Nice Select Min JS -->
        <script src="{% static 'application/js/jquery.nice-select.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'application/js/wow.min.js' %}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'application/js/meanmenu.js' %}"></script>
        <!-- Jquery Ui Min JS -->
        <script src="{% static 'application/js/jquery-ui.min.js' %}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'application/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'application/js/form-validator.min.js' %}"></script>
        <!-- Contact Form JS -->
        <script src="{% static 'application/js/contact-form-script.js' %}"></script>
        <!-- Mixitup Min JS -->
        <script src="{% static 'application/js/mixitup.min.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'application/js/custom.js' %}"></script>

    </body>
</html>