{% load static %}
<!doctype html>
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'application/css/bootstrap.min.css' %}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/animate.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'application/fonts/flaticon.css' %}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="{% static 'application/css/boxicons.min.css' %}">
        <!-- Owl Carousel Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'application/css/owl.theme.default.min.css' %}">
        <!-- Nice Select Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/nice-select.min.css' %}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'application/css/meanmenu.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'application/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'application/css/responsive.css' %}">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="{% static 'application/css/theme-dark.css' %}">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'application/images/favicon.png' %}">

        <title>Hilo - Organic Food Shop HTML Template</title>
    </head>
    <body>
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset sm-3">
                <h3>Восстановить пароль</h3>
                <hr>
                <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                    {% for fm in form %}
                        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
                    {% endfor %}
                <input type="submit" class="btn btn-primary mt-4" value="Подтвердить">
                <br>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Min JS -->
        <script src="{% static 'application/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static 'application/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'application/js/owl.carousel.min.js' %}"></script>
        <!-- Nice Select Min JS -->
        <script src="{% static 'application/js/jquery.nice-select.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'application/js/wow.min.js' %}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'application/js/meanmenu.js' %}"></script>
        <!-- Jquery Ui Min JS -->
        <script src="{% static 'application/js/jquery-ui.min.js' %}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'application/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'application/js/form-validator.min.js' %}"></script>
        <!-- Contact Form JS -->
        <script src="{% static 'application/js/contact-form-script.js' %}"></script>
        <!-- Mixitup Min JS -->
        <script src="{% static 'application/js/mixitup.min.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'application/js/custom.js' %}"></script>

    </body>
</html>
