{% load static %}
<html lang="zxx">
    <head>
        <!-- Required Meta Tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="{% static 'application/css/bootstrap.min.css' %}">
        <!-- Animate Min CSS -->
        <link rel="stylesheet" href="{% static 'application/css/animate.min.css' %}">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="{% static 'application/fonts/flaticon.css' %}">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="{% static 'application/css/boxicons.min.css' %}">
        <!-- Owl Carousel Min CSS --> 
        <link rel="stylesheet" href="{% static 'application/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'application/css/owl.theme.default.min.css' %}">
        <!-- Nice Select Min CSS --> 
        <link rel="stylesheet" href="{% static 'application/css/nice-select.min.css' %}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'application/css/meanmenu.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'application/css/style.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'application/css/responsive.css' %}">
        <!-- Theme Dark CSS -->
        <link rel="stylesheet" href="{% static 'application/css/theme-dark.css' %}">


        <!-- Favicon -->
        <link rel="icon" type="image/png" href="{% static 'application/images/favicon.png' %}">

        <title>Hilo - Organic Food Shop HTML Template</title>
    </head>
    <body>
        <!-- Pre Loader -->
        <div class="preloader">
            <div class="d-table">
                <div class="d-table-cell">
                    <img src="{% static 'application/images/preloder-img.png' %}" alt="Images">
                    <h2>Hilo</h2>
                </div>
            </div>
        </div>
        <!-- End Pre Loader -->

        <!-- Start Navbar Area -->
        <div class="navbar-area">
            <!-- Menu For Mobile Device -->
            <div class="mobile-nav">
                <a href="index.html" class="logo">
                    <img src="{% static 'application/images/logos/logo-1.png' %}{% static 'application/alt="Logo">
                </a>
            </div>

            <!-- Menu For Desktop Device -->
            <div class="main-nav nav-three">
                <div class="container">
                    <nav class=" navbar navbar-expand-md navbar-light">
                        <a class="navbar-brand" href="/">
                            <img src="{% static 'application/images/logos/logo-1.png' %}" alt="Logo">
                        </a>

                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <ul class="navbar-nav m-auto">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">
                                        Главная
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        Товары
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{% url 'parent-category' 'CF' %}" class="nav-link">
                                                Кофе
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'BR' %}" class="nav-link">
                                                        Бразилия
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'KN' %}" class="nav-link">
                                                        Кения
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'VT' %}" class="nav-link">
                                                        Вьетнам
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'parent-category' 'TE' %}" class="nav-link">
                                                Чай
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'GR' %}" class="nav-link">
                                                        Зелёный
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'BL' %}" class="nav-link">
                                                        Чёрный
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'category' 'FR' %}" class="nav-link">
                                                        Фруктовый
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'parent-category' 'SP' %}" class="nav-link">
                                                Сиропы
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="{% url 'parent-category' 'FS' %}" class="nav-link">
                                                        Фруктовые
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="{% url 'parent-category' 'AL' %}" class="nav-link">
                                                        Алкогольные
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>


                                <li class="nav-item">
                                    <a href="{% url 'blog' %}" class="nav-link">
                                        Блог
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a href="{% url 'about' %}" class="nav-link">
                                        О нас
                                    </a>
                                </li>
                                {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a href="{% url 'profile' %}" class="nav-link">
                                        {{request.user}}
                                        <i class='bx bx-chevron-down'></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="{% url 'profile' %}" class="nav-link">
                                                Профиль
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'orders' %}" class="nav-link">
                                                Заказы
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'passwordchange' %}" class="nav-link">
                                                Сменить пароль
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="{% url 'logout' %}" class="nav-link">
                                                Выйти
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                {% else %}
                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link">
                                        Войти
                                    </a>
                                </li>
                                {% endif %}
                            </ul>

                            <div class="col-lg-7 col-md-6">
                                <div class="nav-bottom-form-area">
                                    <form class="nav-bottom-form" role="search" action="/search">
                                        <input  class="form-control" type="search" placeholder="Искать" name = "search">
                                        <button class="subscribe-btn" type="submit">
                                            Search
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-1 col-md-2">
                                <div class="nav-bottom-side">
                                    <ul class="nav-bottom-list">
                                        <li><a href="{% url 'showwishlist' %}"><i class='bx bx-heart' style="color: #000000;"></i></a></li>
                                        <li class="cart-span">
                                            <a href="{% url 'cart:showcart' %}"><i class='bx bx-cart' style="color: #000000;"></i></a>
                                            <span>{% if totalitem > 0 %} {{totalitem}} {% endif %}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="side-nav-responsive">
                <div class="container">
                    <div class="dot-menu">
                        <div class="circle-inner">
                            <div class="circle circle-one"></div>
                            <div class="circle circle-two"></div>
                            <div class="circle circle-three"></div>
                        </div>
                    </div>

                    <div class="container-2">
                        <div class="side-nav-inner">
                            <div class="side-nav justify-content-center align-items-center">
                                <div class="side-nav-item">

                                    <div class="nav-bar-btn">
                                        <a href="{% url 'profile' %}" class="account-btn">My account</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Inner Banner Area -->
        <div class="inner-banner-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-4">
                        <div class="inner-content">
                            <h2>Shop Details</h2>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li>Shop Details</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-8">
                        <div class="inner-img">
                            <img src="{% static 'application/images/inner-banner/inner-banner7.png' %}" alt="Images">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Banner Area End -->

        <!-- Product Details Area -->
        <div class="product-details-area pt-100 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="product-detls-image">
                            <img src="{{product.product_image.url}}" alt="Image">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="product-desc">
                            <h3>{{product.title}}</h3>
                            <div class="price">
                                <span class="new-price">{{product.discounted_price}}$</span>
                                <span class="old-price">{{product.selling_price}}$</span>
                            </div>

                            <p>
                                {{product.taste}}
                            </p>
                            {% if request.user.is_authenticated %}
                            <div class="product-add-btn">
                                <form action="/add-to-cart" class="d-inline">
                                    <input type="hidden" name="prod_id" value="{{product.id}}"/>
                                    <button type="submit" class="default-btn btn-bg-three">
                                        <i class="fas fa-cart-plus"></i> Add To Cart
                                    </button>
                                </form>
                                {% else }
                                <button type="submit" class="default-btn btn-bg-three"disabled="true">
                                    <i class="fas fa-cart-plus"></i> Войдите, чтобы добавить товар
                                </button>
                                {% if wishlist %}
                                <a pid={{product.id}} class="minus-wishlist btn btn-danger shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a> <br>
                                {% else %}
                                <a pid={{product.id}} class="plus-wishlist btn btn-success shadow px-5 py-2 ms-4"><i class="fas fa-heart fa-lg"></i></a>
                                {% endif %}
                            </div>
                            {% else %}
                            <div class="product-add-btn">
                                <form action="/add-to-cart" class="d-inline">
                                    <input type="hidden" name="prod_id" value="{{product.id}}"/>
                                    <button type="submit" class="btn"disabled>
                                        <i class="fas fa-cart-plus"></i> Войдите, чтобы добавить товар
                                    </button>
                                </form>
                            </div>
                            {% endif %}

                            <div class="product-share">
                                <ul>
                                    <li>
                                        <span>Share:</span>
                                    </li>
                                    <li>
                                        <a href="https://facebook.com" target="_blank">
                                            <i class='bx bxl-facebook' ></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com" target="_blank">
                                            <i class='bx bxl-twitter'></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://instagram.com" target="_blank">
                                            <i class='bx bxl-instagram'></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->

        <!-- Product Tab -->
        <div class="product-tab pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="tab products-details-tab">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <ul class="tabs">
                                        <li>
                                            <a href="#">
                                                Description
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="tab_content current active pt-45">
                                        <div class="tabs_item current">
                                            <div class="products-tabs-decs">
                                                <p> {{product.description}} </p>
                                            </div>
                                        </div>

                                        <div class="tabs_item">
                                            <div class="products-tabs-reviews">
                                                <ul>
                                                    <li>
                                                        <img src="assets/images/products/product-profile1.jpg" alt="Image">
                                                        <h3>Devit M. kolin</h3>
                                                        <div class="content">
                                                            <div class="rating">
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star-half'></i>
                                                            </div>
                                                            <span>19 Jan 2020</span>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                                                    </li>

                                                    <li>
                                                        <img src="{% static 'application/images/products/product-profile2.jpg' %}" alt="Image">
                                                        <h3>Donam. Markin</h3>
                                                        <div class="content">
                                                            <div class="rating">
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star'></i>
                                                                <i class='bx bxs-star-half'></i>
                                                            </div>
                                                            <span>14 April 2020</span>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip </p>
                                                    </li>
                                                </ul>

                                                <div class="reviews-form">
                                                    <div class="contact-form">
                                                        <h3>Add Your Review</h3>
                                                        <p>Lorem ipsum dolo sit amet, consectetur adipisicing  eiusmod tempor incididun </p>
                                                        <div class="rating">
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star'></i>
                                                            <i class='bx bxs-star-half'></i>
                                                        </div>
                                                        <form id="contactForm">
                                                            <div class="row">
                                                                <div class="col-lg-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Your Name*">
                                                                    </div>
                                                                </div>
                                
                                                                <div class="col-lg-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        <input type="email" name="email_address" id="email_address" required data-error="Please enter email address" class="form-control" placeholder="Email Address*">
                                                                    </div>
                                                                </div>
                                
                                                                <div class="col-lg-12 col-md-12">
                                                                    <div class="form-group">
                                                                        <textarea name="message" class="form-control" id="message" cols="30" rows="8" required data-error="Write your message" placeholder="Your Message"></textarea>
                                                                    </div>
                                                                </div>
                                
                                                                <div class="col-lg-12 col-md-12">
                                                                    <button type="submit" class="default-btn btn-bg-three">
                                                                        Send Your Message
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tabs_item">
                                            <div class="products-tabs-shipping">
                                                <ul>
                                                    <li>
                                                        Address: 
                                                        <span>Virgil A Stanton, Virginia, USA</span>
                                                    </li>

                                                    <li>
                                                        Phone: 
                                                        <a href="tel:+1(123)-456-7890-3524">+1 (123) 456 7890 3524</a>
                                                    </li>

                                                    <li>
                                                        Email: 
                                                        <a href="mailto:hello@hilo.com">hello@hilo.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Tab End -->

        <!-- Footer Area -->
        <footer class="footer-area">
            <div class="container">
                <div class="footer-top pt-100 pb-70">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget-color">
                                <div class="footer-logo">
                                    <a href="/">
                                        <img src="{% static 'application/images/logos/footer-logo.png' %}" class="footer-logo1" alt="Images">
                                        <img src="{% static 'application/images/logos/logo-1.png' %}" class="footer-logo2" alt="Images">
                                    </a>
                                </div>
                                <p>
                                    We are one of the best & quality full in market. Let's join.
                                </p>
                                <ul class="footer-list-contact">
                                    <li>
                                        <i class='bx bx-home'></i>
                                        <a href="https://yandex.ru/search/?text=Хабаровск">г. Хабаровск</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-phone-call' ></i>
                                        <a href="tel:+7(914)-150-0762">+7(914)-150-0762</a>
                                    </li>
                                    <li>
                                        <i class='bx bx-envelope'></i>
                                        <a href="mailto:alexeyoskilko@gmail.com">alexeyoskilko@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget-color">
                                <h3>Services</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="{% url 'profile' %}" target="_blank">
                                            Мой Профиль
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'orders' %}" target="_blank">
                                            Заказы
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{%url 'showwishlist' %}" target="_blank">
                                            Избранное
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-widget-color">
                                <h3>Information</h3>
                                <ul class="footer-list">
                                    <li>
                                        <a href="/" target="_blank">
                                            Главная
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'about' %}" target="_blank">
                                            О нас
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'blog' %}" target="_blank">
                                            Блог
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'cart:showcart' %}" target="_blank">
                                            Корзина
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="copy-right-area-two">
                    <div class="copy-right-text">
                        <p>
                            Copyright @<script>document.write(new Date().getFullYear())</script> Алексей Оскилко
                            <a href="https://www.fogstream.ru" target="_blank">Fogstream</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area End -->


       <!-- Jquery Min JS -->
        <script src="{% static 'application/js/jquery.min.js' %}"></script>
        <!-- Bootstrap Min JS -->
        <script src="{% static 'application/js/bootstrap.bundle.min.js' %}"></script>
        <!-- Owl Carousel Min JS -->
        <script src="{% static 'application/js/owl.carousel.min.js' %}"></script>
        <!-- Nice Select Min JS -->
        <script src="{% static 'application/js/jquery.nice-select.min.js' %}"></script>
        <!-- Wow Min JS -->
        <script src="{% static 'application/js/wow.min.js' %}"></script>
        <!-- Meanmenu JS -->
        <script src="{% static 'application/js/meanmenu.js' %}"></script>
        <!-- Jquery Ui Min JS -->
        <script src="{% static 'application/js/jquery-ui.min.js' %}"></script>
        <!-- Ajaxchimp Min JS -->
        <script src="{% static 'application/js/jquery.ajaxchimp.min.js' %}"></script>
        <!-- Form Validator Min JS -->
        <script src="{% static 'application/js/form-validator.min.js' %}"></script>
        <!-- Contact Form JS -->
        <script src="{% static 'application/js/contact-form-script.js' %}"></script>
        <!-- Mixitup Min JS -->
        <script src="{% static 'application/js/mixitup.min.js' %}"></script>
        <!-- Custom JS -->
        <script src="{% static 'application/js/custom.js' %}"></script>

        <script src="{% static 'application/js/all.min.js' %}"></script>

        <script src="{% static 'application/js/myscript.js' %}"></script>

    </body>
</html>